/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para la página de bienvenida */
.bienvenida {
    text-align: center;
    background-color: #E02E45;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 0px 2ch rgba(0, 0, 0, 0.1);
}

.bienvenida h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.bienvenida p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos para los botones */
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #91D3FF;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.boton:hover {
    background-color: #0056b3;
}
