/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el formulario de registro */
.registro-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.registro-form h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.registro-form label {
    display: block;
    margin-bottom: 15px;
}

.registro-form input[type="text"],
.registro-form input[type="email"],
.registro-form input[type="password"],
.registro-form select {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.registro-form button {
    background-color: #E02E45;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

.registro-form button:hover {
    background-color: #0056b3;
}
